<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<title>FFDA Traffic</title>

	<style type="text/css">
		body{
			background: #FFFFFF;
		}
		td, th {
			text-align:center; 
		}
		.leftAlign {
			text-align:left;  
		}

	</style>
</head>
<body>
	<div class="table-responsive">
		<table class="table table-striped">
		<thead>
			<tr>
				<th class="leftAlign">Name</th>
				<th>Positon</th>
				<th>Uptime (h)</th>
				<th class="leftAlign">Firmware</th>
				<th>Autoupdater</th>
				<th class="leftAlign">Model</th>
				<th>Load</th>
				<th>Traffic (GB)</th>
			</tr>
		</thead>
		<tbody>
			{% for node in data %}
			<tr>
				<td class="leftAlign"> {% if node['model'] != "Server" %}<a href="http://{{ node['name'] }}.node.ffda/cgi-bin/status">{{ node['name'] }}</a>{% else %} {{ node['name'] }}{% endif %}</td>
				<td>{% if node['long'] %} <a href="http://www.openstreetmap.org/?mlat={{node['lat']}}&mlon={{node['long']}}&zoom=15"><span class="glyphicon glyphicon-globe"></span></a>
					{% else %}<span style="color: red;" class="glyphicon glyphicon-globe"></span>
					{% endif %}</td>
				<td>{{ node['uptime'] }}</td>
				<td class="leftAlign">{{node['firmware']}}
					{% if node['branch'] %} <small>({{ node['branch'] }})
					{% endif %}</small></td>
				{% if node['autoupdater'] %}
					<td><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
				{% else %}
					<td><span style="color:red;" class="glyphicon glyphicon-remove"></span></td>
				{% endif %}
				<td class="leftAlign">{{ node['model'] }}</td>
				<td style="color: {{node['loadcolor']}}">{{ node['load'] }}</td>
				<td><span title="TX:{{node['traffic_tx']}}, RX:{{node['traffic_rx']}}">{{ node['traffic_total'] }}</span></td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>
</body>
</html>
